# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
.pnpm-store

# Logs
*.log
logs/

# Python compiled files
*.pyc
__pycache__/

# Python virtual environment
.venv/
venv/

# Misc
.DS_Store
.fleet
.idea
/@tmp

# Local env files
#.env
.env.*
!.env.example
!.env.dev.example
!.env.prod.example
!backends/php/.env*

# dev/build outputs
backend/php/vendor


# Valid for b24-ai-starter
index_test.html

# Internal planning docs
docs/internal/
